<div class="container">
	<h1>Euler Totient</h1>
	<div class="container">
		<div class="form-inline">
			<div class="form-group">
				<label for="n">n</label>
				<input type="numeber" id="n" ng-model="n" />
			</div>
			<button class="btn btn-primary" ng-click="calculate()">
				Calculate
			</button>
		</div>
	</div>
	<div class="container" ng-show="isResultVisible" style="margin-top:12px">
		<div class="panel panel-primary">
			<div class="panel-heading">
				{{ resultText }}
			</div>
			<div class="list-group">
				<div class="list-group-item" ng-repeat="step in steps">
					{{ step }}
				</div>
			</div>
		</div>
	</div>
</div>